--
-- PostgreSQL database dump
--

\restrict 0ir0EThfhd36eKpzNwEYnRj3eRHUXm1GJ3MPyvTAB218tq26s06dLTJoaiwMEEX

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auto_update_rank(); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.auto_update_rank() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.rank_id := (
        SELECT id FROM ranks 
        WHERE min_exp <= NEW.exp 
        ORDER BY min_exp DESC LIMIT 1
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.auto_update_rank() OWNER TO docker;

--
-- Name: fn_calculate_reward(integer, character varying); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.fn_calculate_reward(score integer, level_name character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    chosen_multiplier INT;
BEGIN
    -- Pobieramy mnożnik bezpośrednio z nowej tabeli słownikowej
    SELECT multiplier INTO chosen_multiplier 
    FROM difficulty_levels 
    WHERE name = LOWER(level_name);

    -- Zabezpieczenie: Jeśli poziom nie istnieje w bazie, dajemy domyślny mnożnik 1
    IF chosen_multiplier IS NULL THEN
        chosen_multiplier := 1;
    END IF;

    RETURN score * chosen_multiplier;
END;
$$;


ALTER FUNCTION public.fn_calculate_reward(score integer, level_name character varying) OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: avatars; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.avatars (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    price integer DEFAULT 0 NOT NULL,
    image_filename character varying(100) NOT NULL
);


ALTER TABLE public.avatars OWNER TO docker;

--
-- Name: avatars_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.avatars_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.avatars_id_seq OWNER TO docker;

--
-- Name: avatars_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.avatars_id_seq OWNED BY public.avatars.id;


--
-- Name: training_levels; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.training_levels (
    id integer CONSTRAINT difficulty_levels_id_not_null NOT NULL,
    name character varying(20) CONSTRAINT difficulty_levels_name_not_null NOT NULL,
    multiplier integer CONSTRAINT difficulty_levels_multiplier_not_null NOT NULL,
    description character varying(255),
    min_number integer DEFAULT 1,
    max_number integer DEFAULT 10
);


ALTER TABLE public.training_levels OWNER TO docker;

--
-- Name: difficulty_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.difficulty_levels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.difficulty_levels_id_seq OWNER TO docker;

--
-- Name: difficulty_levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.difficulty_levels_id_seq OWNED BY public.training_levels.id;


--
-- Name: mission_levels; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.mission_levels (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    difficulty character varying(20) NOT NULL,
    min_number integer NOT NULL,
    max_number integer NOT NULL,
    sequence_order integer,
    reward integer DEFAULT 0,
    exp_reward integer DEFAULT 0
);


ALTER TABLE public.mission_levels OWNER TO docker;

--
-- Name: mission_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.mission_levels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mission_levels_id_seq OWNER TO docker;

--
-- Name: mission_levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.mission_levels_id_seq OWNED BY public.mission_levels.id;


--
-- Name: ranks; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.ranks (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    min_exp integer NOT NULL
);


ALTER TABLE public.ranks OWNER TO docker;

--
-- Name: ranks_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.ranks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ranks_id_seq OWNER TO docker;

--
-- Name: ranks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.ranks_id_seq OWNED BY public.ranks.id;


--
-- Name: training_history; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.training_history (
    id integer NOT NULL,
    user_id integer NOT NULL,
    level_id integer NOT NULL,
    score integer DEFAULT 0 NOT NULL,
    completed_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.training_history OWNER TO docker;

--
-- Name: training_history_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.training_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.training_history_id_seq OWNER TO docker;

--
-- Name: training_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.training_history_id_seq OWNED BY public.training_history.id;


--
-- Name: user_avatars; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_avatars (
    user_id integer NOT NULL,
    avatar_id integer NOT NULL
);


ALTER TABLE public.user_avatars OWNER TO docker;

--
-- Name: user_details; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_details (
    user_id integer NOT NULL,
    star_dust integer DEFAULT 0 NOT NULL,
    rank_id integer,
    exp integer DEFAULT 0 NOT NULL,
    current_avatar_id integer
);


ALTER TABLE public.user_details OWNER TO docker;

--
-- Name: user_missions; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_missions (
    user_id integer NOT NULL,
    level_id integer NOT NULL,
    completed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_missions OWNER TO docker;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    role character varying(10) DEFAULT 'user'::character varying NOT NULL,
    status character varying(15) DEFAULT 'offline'::character varying NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'user'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['online'::character varying, 'offline'::character varying, 'banned'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: v_cadet_activity_stats; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.v_cadet_activity_stats AS
 SELECT u.id AS user_id,
    u.username,
    count(DISTINCT um.level_id) AS completed_missions_count,
    count(DISTINCT th.id) AS training_sessions_count
   FROM (((public.users u
     LEFT JOIN public.user_missions um ON ((u.id = um.user_id)))
     LEFT JOIN public.mission_levels ml ON ((um.level_id = ml.id)))
     LEFT JOIN public.training_history th ON ((u.id = th.user_id)))
  GROUP BY u.id, u.username;


ALTER VIEW public.v_cadet_activity_stats OWNER TO docker;

--
-- Name: v_cadet_profiles; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.v_cadet_profiles AS
 SELECT u.id AS user_id,
    u.username,
    u.email,
    u.role,
    u.status,
    COALESCE(r.name, 'Kadet-Rekrut'::character varying) AS rank_name,
    COALESCE(ud.star_dust, 0) AS star_dust
   FROM ((public.users u
     LEFT JOIN public.user_details ud ON ((u.id = ud.user_id)))
     LEFT JOIN public.ranks r ON ((ud.rank_id = r.id)))
  ORDER BY u.id;


ALTER VIEW public.v_cadet_profiles OWNER TO docker;

--
-- Name: avatars id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.avatars ALTER COLUMN id SET DEFAULT nextval('public.avatars_id_seq'::regclass);


--
-- Name: mission_levels id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.mission_levels ALTER COLUMN id SET DEFAULT nextval('public.mission_levels_id_seq'::regclass);


--
-- Name: ranks id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.ranks ALTER COLUMN id SET DEFAULT nextval('public.ranks_id_seq'::regclass);


--
-- Name: training_history id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_history ALTER COLUMN id SET DEFAULT nextval('public.training_history_id_seq'::regclass);


--
-- Name: training_levels id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_levels ALTER COLUMN id SET DEFAULT nextval('public.difficulty_levels_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: avatars; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.avatars (id, name, price, image_filename) FROM stdin;
2	Cyber-Nawigator	150	avatar_cyber.png
3	Gwiezdny Banita	400	avatar_outlaw.png
4	Słoneczny Druid	750	avatar_druid.png
5	Prezydent Galaktyki	1500	avatar_president.png
1	Kadet Nowicjusz	0	avatar_cadet.png
\.


--
-- Data for Name: mission_levels; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.mission_levels (id, name, difficulty, min_number, max_number, sequence_order, reward, exp_reward) FROM stdin;
1	Pas Asteroidów	easy	1	5	1	150	50
2	Burza Jonowa	medium	1	7	2	350	120
3	Czarna Dziura	hard	5	10	3	500	250
4	Hiperprzestrzeń	expert	10	15	4	1000	600
\.


--
-- Data for Name: ranks; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.ranks (id, name, min_exp) FROM stdin;
1	KADET ACADEMY	0
2	MŁODSZY NAWIGATOR	150
3	STARSZY NAWIGATOR	400
4	PILOT SYSTEMOWY	750
5	OFICER REAKTORA	1200
6	DOWÓDCA FLOTY	1800
7	KAPITAN KRAŻOWNIKA	2600
8	KOSMICZNY STRAŻNIK	3600
9	LORD GWIAZD	5000
10	WŁADCA HIPERPRZESTRZENI	7000
\.


--
-- Data for Name: training_history; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.training_history (id, user_id, level_id, score, completed_at) FROM stdin;
1	7	2	15	2026-05-31 12:32:02.998122+00
2	7	4	15	2026-05-31 12:41:45.726083+00
3	7	1	18	2026-05-31 12:38:08.209407+00
4	7	2	14	2026-05-31 11:43:08.209407+00
5	7	2	22	2026-05-31 09:43:08.209407+00
6	7	3	11	2026-05-30 12:43:08.209407+00
7	7	1	25	2026-05-30 10:43:08.209407+00
8	7	4	9	2026-05-29 12:43:08.209407+00
9	7	3	15	2026-05-28 12:43:08.209407+00
10	7	4	13	2026-05-27 12:43:08.209407+00
11	7	2	19	2026-05-26 12:43:08.209407+00
12	7	1	30	2026-05-25 12:43:08.209407+00
\.


--
-- Data for Name: training_levels; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.training_levels (id, name, multiplier, description, min_number, max_number) FROM stdin;
2	normal	2	Standardowa orbita. Zrównoważone wyzwanie dla aktywnych odkrywców.	1	7
3	hard	3	Prędkości hipernapędu. Przetestuj granice swoich możliwości obliczeniowych.	5	10
4	legendary	5	Intensywność czarnej dziury. Tylko dla elity matematycznych komandosów.	10	15
1	easy	1	Lot o niskiej grawitacji. Idealny dla nowych kadetów opanowujących podstawy.	1	5
\.


--
-- Data for Name: user_avatars; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_avatars (user_id, avatar_id) FROM stdin;
7	5
7	2
7	3
\.


--
-- Data for Name: user_details; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_details (user_id, star_dust, rank_id, exp, current_avatar_id) FROM stdin;
9	0	1	0	\N
245	0	1	0	1
246	0	1	0	1
247	0	1	0	1
248	0	1	0	1
1	250	1	10	\N
2	1500	2	45	\N
3	0	1	0	\N
4	4200	3	90	\N
6	350	1	12	\N
8	25000	4	210	\N
7	603	7	3385	3
\.


--
-- Data for Name: user_missions; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_missions (user_id, level_id, completed_at) FROM stdin;
7	1	2026-05-31 11:00:46.693396
7	2	2026-05-31 11:02:07.939691
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Name: avatars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.avatars_id_seq', 5, true);


--
-- Name: difficulty_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.difficulty_levels_id_seq', 4, true);


--
-- Name: mission_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.mission_levels_id_seq', 4, true);


--
-- Name: ranks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.ranks_id_seq', 10, true);


--
-- Name: training_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.training_history_id_seq', 12, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.users_id_seq', 248, true);


--
-- Name: avatars avatars_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.avatars
    ADD CONSTRAINT avatars_pkey PRIMARY KEY (id);


--
-- Name: training_levels difficulty_levels_name_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_levels
    ADD CONSTRAINT difficulty_levels_name_key UNIQUE (name);


--
-- Name: training_levels difficulty_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_levels
    ADD CONSTRAINT difficulty_levels_pkey PRIMARY KEY (id);


--
-- Name: mission_levels mission_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.mission_levels
    ADD CONSTRAINT mission_levels_pkey PRIMARY KEY (id);


--
-- Name: ranks ranks_name_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.ranks
    ADD CONSTRAINT ranks_name_key UNIQUE (name);


--
-- Name: ranks ranks_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.ranks
    ADD CONSTRAINT ranks_pkey PRIMARY KEY (id);


--
-- Name: training_history training_history_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_history
    ADD CONSTRAINT training_history_pkey PRIMARY KEY (id);


--
-- Name: user_avatars user_avatars_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_avatars
    ADD CONSTRAINT user_avatars_pkey PRIMARY KEY (user_id, avatar_id);


--
-- Name: user_details user_details_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT user_details_pkey PRIMARY KEY (user_id);


--
-- Name: user_missions user_missions_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_missions
    ADD CONSTRAINT user_missions_pkey PRIMARY KEY (user_id, level_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_training_history_user; Type: INDEX; Schema: public; Owner: docker
--

CREATE INDEX idx_training_history_user ON public.training_history USING btree (user_id);


--
-- Name: user_details trigger_rank_update; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trigger_rank_update BEFORE INSERT OR UPDATE OF exp ON public.user_details FOR EACH ROW EXECUTE FUNCTION public.auto_update_rank();


--
-- Name: training_history fk_training_level; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_history
    ADD CONSTRAINT fk_training_level FOREIGN KEY (level_id) REFERENCES public.training_levels(id) ON DELETE RESTRICT;


--
-- Name: training_history fk_training_user; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.training_history
    ADD CONSTRAINT fk_training_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_details fk_user_details_ranks; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT fk_user_details_ranks FOREIGN KEY (rank_id) REFERENCES public.ranks(id) ON DELETE SET NULL;


--
-- Name: user_details fk_user_details_users; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT fk_user_details_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_avatars user_avatars_avatar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_avatars
    ADD CONSTRAINT user_avatars_avatar_id_fkey FOREIGN KEY (avatar_id) REFERENCES public.avatars(id) ON DELETE CASCADE;


--
-- Name: user_avatars user_avatars_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_avatars
    ADD CONSTRAINT user_avatars_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_details user_details_current_avatar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT user_details_current_avatar_id_fkey FOREIGN KEY (current_avatar_id) REFERENCES public.avatars(id) ON DELETE SET NULL;


--
-- Name: user_missions user_missions_level_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_missions
    ADD CONSTRAINT user_missions_level_id_fkey FOREIGN KEY (level_id) REFERENCES public.mission_levels(id) ON DELETE CASCADE;


--
-- Name: user_missions user_missions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_missions
    ADD CONSTRAINT user_missions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0ir0EThfhd36eKpzNwEYnRj3eRHUXm1GJ3MPyvTAB218tq26s06dLTJoaiwMEEX

