<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title><?= $title; ?></title>
  </head>
  <body>
    <?php include __DIR__ . '/partials/header.html'; ?>

    <div class="layout">
      <?php include __DIR__ . '/partials/nav.html'; ?>
      <main>
        <h2>Witaj w systemie, Komandorze!</h2>
        <p>Tutaj pojawią się Twoje zadania matematyczne...</p>

        
      <?php foreach($users as $key=>$value): ?>
        <span><?= $value["username"]; ?></span>
        <span><?= $value["email"]; ?></span>
        <br />
      <?php endforeach; ?>
      </main>
    </div>
  </body>
</html>