<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="mission"><i class="fa-solid fa-rocket"></i> Misja</a></li>
      <li><a href="training"><i class="fa-solid fa-stopwatch"></i> Trening</a></li>
      <li><a href="hangar"><i class="fa-solid fa-wrench"></i> Hangar</a></li>
      <li><a href="profile"><i class="fa-solid fa-circle-user"></i> Profil</a></li>
      <li class="logout"><a href="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Wyloguj</a></li>
    </ul>
  </nav>
</aside>